<div class="row">
    <div class="col-lg-12 stagger animated-panel" style="animation-delay: 0.1s;">
        <form>
            <div class="panel">
                <div class="panel-body">
                    <section class="markdown-view">
                        <header class="view-header">
                            <h2 class="view-title">
                                <input ng-model="post.title" placeholder="请输入标题" required>
                            </h2>
                            <section class="view-actions">
                                <button type="button" class="btn btn-link post-settings" title="Post Settings">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </button>
                                <div class="btn-group" uib-dropdown>
                                    <button type="submit" v-busy="" v-busy-click="ok()" class="btn btn-primary">
                                        <span>发布</span>
                                    </button>
                                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                        <span class="sr-only">Split button!</span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                        aria-labelledby="split-button">
                                        <li role="menuitem"><a>发布</a></li>
                                        <li role="menuitem"><a>草稿</a></li>
                                        <li class="divider"></li>
                                        <li role="menuitem"><a>some</a></li>
                                    </ul>
                                </div>
                            </section>
                        </header>
                        <section class="view-container row">
                            <div class="col-xs-12 col-md-6">
                                <textarea class="form-control posts-markdown border-none"
                                          ng-model="post.markdown"></textarea>
                            </div>
                            <div class="col-xs-6 col-md-6 hidden-sm hidden-xs">
                                <div data-sd-model-to-html="post.markdown"></div>
                            </div>
                        </section>
                    </section>
                </div>
                <div class="panel-footer">
                    <span class="desktop-tabs">
                        <a class="markdown-help-label" ng-click="open()" title="Markdown Help">Markdown</a>
                    </span>
                    <script type="text/ng-template" id="views/template/markdownContent.html">
                        <div class="modal-body">
                            <section class="markdown-help-container">
                                <table class="modal-markdown-help-table table">
                                    <thead>
                                    <tr>
                                        <th>Markdown</th>
                                        <th>Result</th>
                                        <th>Shortcut</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>**text**</td>
                                        <td><strong>Bold</strong></td>
                                        <td>Ctrl/⌘ + B</td>
                                    </tr>
                                    <tr>
                                        <td>*text*</td>
                                        <td><em>Emphasize</em></td>
                                        <td>Ctrl/⌘ + I</td>
                                    </tr>
                                    <tr>
                                        <td>~~text~~</td>
                                        <td>
                                            <del>Strike-through</del>
                                        </td>
                                        <td>Ctrl + Alt + U</td>
                                    </tr>
                                    <tr>
                                        <td>[title](http://)</td>
                                        <td><a href="#">Link</a></td>
                                        <td>Ctrl/⌘ + K</td>
                                    </tr>
                                    <tr>
                                        <td>`code`</td>
                                        <td><code>Inline Code</code></td>
                                        <td>Ctrl/⌘ + Shift + K</td>
                                    </tr>
                                    <tr>
                                        <td>![alt](http://)</td>
                                        <td>Image</td>
                                        <td>Ctrl/⌘ + Shift + I</td>
                                    </tr>
                                    <tr>
                                        <td>* item</td>
                                        <td>List</td>
                                        <td>Ctrl + L</td>
                                    </tr>
                                    <tr>
                                        <td>&gt; quote</td>
                                        <td>Blockquote</td>
                                        <td>Ctrl + Q</td>
                                    </tr>
                                    <tr>
                                        <td>==Highlight==</td>
                                        <td>
                                            <mark>Highlight</mark>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td># Heading</td>
                                        <td>H1</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>## Heading</td>
                                        <td>H2</td>
                                        <td>Ctrl/⌘ + H</td>
                                    </tr>
                                    <tr>
                                        <td>### Heading</td>
                                        <td>H3</td>
                                        <td>Ctrl/⌘ + H (x2)</td>
                                    </tr>
                                    </tbody>
                                </table>
                                For further Markdown syntax reference: <a
                                    href="http://support.ghost.org/markdown-guide/" target="_blank">Markdown
                                Documentation</a>
                            </section>
                        </div>
                    </script>
                </div>
            </div>
        </form>
    </div>
</div>