<!DOCTYPE html>
<html ng-app="website">
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- build:css  /common/css/zeev.css -->
    <link rel="stylesheet" href="/common/css/index.css" type="text/css">
    <!-- endbuild -->

</head>
<body>
<div class="main">
    <div class="main_cell">
        <div class="text-center head-line">
            <h1 class="big-head-line">Ze'ev Kell</h1>
            <h4 class="sub-head-line">The <span></span></h4>
            <h1><a href="/ember">Enter</a> </h1>
        </div>
        <canvas id="section_1_canvas"></canvas>
    </div>
</div>
</body>

<!-- build:js  /common/libs/jquery.js -->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->

<!-- build:js  /common/libs/base.js -->
<script type="text/javascript" src="/common/libs/base.js"></script>
<!-- endbuild -->

<!-- build:js  /common/index.js -->
<script type="text/javascript" src="/common/libs/canvas.js"></script>
<script type="text/javascript" src="/common/libs/txtRotate.js"></script>
<script type="text/javascript" src="/common/index.js"></script>
<!-- endbuild -->

</html>