<div class="normalheader transition animated fadeIn" ng-class="{ 'small-header' : toggleHeader }">
    <div class="hpanel">
        <div class="panel-body">
            <a href="" class="small-header-action">
                <div class="clip-header" ng-click="toggleHeader = !toggleHeader ">
                    <i class="fa fa-arrow-down"></i>
                </div>
            </a>

            <div class="pull-right" id="hbreadcrumb">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">
                        <span>评论</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                评论
            </h2>
        </div>
    </div>
</div>